.ServiceGroup {
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem 1rem;
}

@media (min-width: 900px) {
    .ServiceGroup {
        justify-content: space-around;
    }
}

@media (min-width: 1000px) {
    .ServiceGroup {
        padding: 5rem 3rem;
    }
}