.AddressForm {
    color: #ecf4f3;
    margin: auto;
    max-width: 600px;
    width: 790%;
}

.AddressForm h4 {
    margin-bottom: 1rem;
}

@media (min-width: 700px) {
    .ContactUs {
        width: 70%;
    }
}