.FooterHeader {
    font-size: 1.2rem;
    margin: auto;
    padding-top: 3rem;
    text-align: center;
}

.Logo {
    align-items: center;
    background: white;
    border-radius: 50%;
    display: flex;
    height: 10rem;
    justify-content: center;
    margin: 1rem auto 1rem;
    max-width: 300px;
    padding: 1.5rem 2rem;
    width: 15rem;
}

.Logo img {
    width: 100%;
}