.CTASection {
    padding: 5rem 1rem;
    text-align: center;
}

.CTASection ul {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto 2rem;
    max-width: 600px;
    padding: 0;
    width: 90%;
}

.CTASection li {
    border-radius: 8px;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    transition: all 0.2s ease-out;
}

@media (min-width: 700px) {
    .CTASection {
        padding: 8rem 3rem;
    }
    
    .CTASection ul {
        font-size: 1.5rem;
        justify-content: space-between;
        width: 70%;
    }    
}