.Intro {
    background: #021420;
    display: flex;
    overflow: hidden;
    padding-top: 120px;
    position: relative;
}

.Intro img {
    position: absolute;
    width: 100%;
}

.Text {
    color: white;
    line-height: 1.75;
    margin: auto;
    padding: 3rem 1rem;
    text-align: center;
    z-index: 5;
}

.Filter {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
}

@media (min-width: 750px) {
    .Intro img {
        height: initial;
        position: initial;
        width: 40%;
    }

    .Filter {
        display: none;
    }
}

@media (min-width: 1150px) {
    .Intro img {
        width: 30%;
    }

    .Text {
        font-size: 1.2rem;
        line-height: 2;
        width: 50%;
    }
}