.Header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.Header nav {
    display: none;
}

.MainHeader {
    align-items: center;
    background: white;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.MainHeader img {
    margin-left: 1rem;
    max-width: 250px;
    width: 60%;
}

@media (min-width: 730px) {
    .Header nav {
        display: flex;
    }
}