.Footer {
    background: #143d59;
    color: #ecf4f3;
}

.FooterContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2rem auto;
    max-width: 1000px;
    padding: 0 1rem;
}

@media (min-width: 700px) {
    .FooterContent {
        flex-direction: row;
    }
}